WebClientt/Connected Services/ServiceProduct/ServiceProduct2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUrunler">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Urunler" nillable="true" type="tns:Urunler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUrunler" nillable="true" type="tns:ArrayOfUrunler" />
  <xs:complexType name="Urunler">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirimFiyat" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="KategoriAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Satılamaz" type="xs:boolean" />
      <xs:element minOccurs="0" name="TedarikciAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TedarikciId" type="xs:int" />
      <xs:element minOccurs="0" name="UrunAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Urunler" nillable="true" type="tns:Urunler" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
</xs:schema>