WebClientt/Connected Services/ServiceProduct/ServiceProduct.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProduct" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2741/ServiceProduct.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2741/ServiceProduct.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2741/ServiceProduct.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceProduct_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_GetProductsWin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsWin" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_GetProductsWin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsWinResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_DeleteProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProducts" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_DeleteProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_UpdatePriceANDName_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePriceANDName" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_UpdatePriceANDName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePriceANDNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_FindProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:FindProducts" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_FindProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceProduct">
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProduct/GetProducts" message="tns:IServiceProduct_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProduct/GetProductsResponse" message="tns:IServiceProduct_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsWin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProduct/GetProductsWin" message="tns:IServiceProduct_GetProductsWin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProduct/GetProductsWinResponse" message="tns:IServiceProduct_GetProductsWin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProduct/DeleteProducts" message="tns:IServiceProduct_DeleteProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProduct/DeleteProductsResponse" message="tns:IServiceProduct_DeleteProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePriceANDName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProduct/UpdatePriceANDName" message="tns:IServiceProduct_UpdatePriceANDName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProduct/UpdatePriceANDNameResponse" message="tns:IServiceProduct_UpdatePriceANDName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProduct/FindProducts" message="tns:IServiceProduct_FindProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProduct/FindProductsResponse" message="tns:IServiceProduct_FindProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProduct/Login" message="tns:IServiceProduct_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProduct/LoginResponse" message="tns:IServiceProduct_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceProduct" type="tns:IServiceProduct">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IServiceProduct/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsWin">
      <soap:operation soapAction="http://tempuri.org/IServiceProduct/GetProductsWin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProducts">
      <soap:operation soapAction="http://tempuri.org/IServiceProduct/DeleteProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePriceANDName">
      <soap:operation soapAction="http://tempuri.org/IServiceProduct/UpdatePriceANDName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindProducts">
      <soap:operation soapAction="http://tempuri.org/IServiceProduct/FindProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceProduct/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProduct">
    <wsdl:port name="BasicHttpBinding_IServiceProduct" binding="tns:BasicHttpBinding_IServiceProduct">
      <soap:address location="http://localhost:2741/ServiceProduct.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>